    <% layout('../layout') -%>
    <% script('/js/admin.front.js') -%>

    <h1>Admin</h1>
    <form action="/admin/question/new" class="formNewQuestion" method="post">
        <div class="question">

            <label>Intitulé de la question :</label>
            <input type="text" name="qIntitule">

        </div>

        <div class="reponses">

            <div class="reponse">
                <label>Réponse <span>1</span>:</label>
                <input type="text" name="rIntitule" data-nb-rep="1">
            </div>

            <div class="reponse">
                <label>Réponse <span>2</span>:</label>
                <input type="text" name="rIntitule" data-nb-rep="2">
            </div>
        </div>

        <button type="button" id="addResponseButton">Ajouter une réponse</button>
        <br>
        <input type="submit" value="Enregistrer la question">
    </form>