<% layout('../layout-admin') %>
<% script('/js/admin.front.js') %>

<h1 class="red-h1">Administration</h1>
<h2 class="blue-h2">A vous de jouez !</h2>
<div class="admin-btn">
    <div>
        <a class="orangered-button" href="/admin/rooms">Gestion des Rooms</a>
    </div>
    <div>
        <a class="orangered-button" href="/admin/question/">Gestion des Questions</a>
    </div>
    <div>
        <a class="orangered-button" href="/admin/niveau/">Gestion des Niveaux</a>
    </div>
    <div>
        <a class="orangered-button" href="/admin/matiere/">Gestion des Matières</a>
    </div>

</div>
