<% layout('../layout') -%>
<% script('/js/admin.front.js') -%>
<% stylesheet('/stylesheets/admin.css') -%>

<div class="rooms-list">

    <h1>Rooms disponibles</h1>
    <p><input type="text" id="roomsSearch" placeholder="Recherche"></p>
    <ul>
        <% rooms.forEach(function (room) { %>
            <li class="roomElement"><a href="room/<%= room.id %>"><%= room.name %></a></li>
        <% }) %>
    </ul>
</div>