<% layout('../layout') -%>
<% script('/js/admin.front.js') -%>


<h1>Room : <%= room.name %></h1>


<ul>
    <% questions.forEach(function (question) { %>
    <li><%= question.id %> - <%= question.intitule %></li>
    <% }) %>
</ul>