<% layout('../layout') -%>
<% script('/js/admin.front.js') -%>

<div class="rooms-list">

    <h1>Rooms disponibles</h1>
    <p>Sélectionnez une room</p>
    <ul>
        <% rooms.forEach(function (room) { %>
        <li><a href="room/<%= room.id %>"><%= room.name %></a></li>
        <% }) %>
    </ul>
</div>