<% layout('../layout') -%>
<% script('/js/admin.front.js') -%>
<% stylesheet('/stylesheets/admin.css') -%>

<div class="rooms-list">

    <h1>Rooms disponibles</h1>
    <p><input type="text" id="roomsSearch" placeholder="Recherche"></p>
    <ul>
        <% rooms.forEach(function (room) { %>
            <li class="roomElement"><a href="room/<%= room.id %>"><%= room.name %></a></li>
        <% }) %>
        <li class="roomElement">
            <form action="/admin/room/new" method="post">
                <input type="text" name="roomIntitule" placeholder="Créer une nouvelle Room">
            </form>
        </li>
    </ul>
</div>