    <% layout('layout') %>
    <% script('/js/jquery-ui.min.js') -%>
    <% stylesheet('/stylesheets/jquery-ui.css') -%>
    <% stylesheet('/stylesheets/jquery-ui.theme.css') -%>

    <section class="main-section">

        <h1 class="red-h1">La réponse D</h1>
        <h2>Connectez vous et jouez !</h2>

        <form class="room" id="formLoginRoom" method="get">
            <label for="nameInput">Nom :</label>
            <input id="nameInput" type="text" required>
            <label for="roomInput">Room :</label>
            <input id="roomInput" type="text" required>
            <input class="blue-button" type="submit" id="connectToRoom" value="Se connecter">
        </form>

    </section>


    <div style="display: none;" id="alertNoAuth" title="401 - Accès non autorisé">
        <p><b>Vous n'êtes pas autorisé à accéder à cette page. </b></p>
    </div>