<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('//localhost:3000');

        socket.on('socketToMe', function (data) {
            console.log(data);
        });
    </script>
  </head>
  <body>

    <div class="containter">
      <% questions.forEach(function(question) { %>
        <div class="question" data-id="<%= question.id %>">
          <span>
            <h2><%= question.titre %></h2>
          </span>
          <div class="reponse">
            <form>
            <% question.reponses.forEach(function(reponse) { %>
              <input type="radio" name="reponse" value="<%= reponse.id %>" />
              <span><%= reponse.text %></span><br/>
            <% }); %>
            </form>
          </div>
        </div>
      <% }); %>
    </div>
  </body>
</html>
