    <% layout('layout') -%>

    <section class="main-section">

        <h1>La réponse D</h1>
        <h2>Connectez vous et jouez !</h2>

        <form class="room" id="formLoginRoom" method="get">
            <label for="nameInput">Nom :</label>
            <input id="nameInput" type="text" required>
            <label for="roomInput">Room :</label>
            <input id="roomInput" type="text" required>
            <input type="submit" id="connectToRoom" value="Se connecter">
        </form>

    </section>