<% layout('layout') -%>
<% script('/js/room.front.js') -%>

<div id="dataRoom" data-room-name="<%= room %>">
    <h1>room : <%= room %></h1>
    <p><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;<span id="roomState"></span></p>
</div>

