<% layout('layout') -%>
<% script('/js/room.front.js') -%>

<div id="dataRoom" data-room-name="<%= room %>"></div>
<h1>room : <%= room %></h1>


<div class="containter">
    <% questions.forEach(function(question) { %>
    <div class="question" data-id="<%= question.id %>">
              <span>
                <h2><%= question.intitule %></h2>
              </span>
        <div class="reponse">
            <form>

            </form>
        </div>
    </div>
    <% }); %>
</div>