<footer>
    <div>
        <p><span class="footerAdmin "><a class="blue-button " href="/admin/">Connexion pour les enseignants</a></span></p>
        <p> Projet développé par Rémi BOUGUERMOUH, Nicolas ALEXANDROPOULOS, Lucas GEORGES <br> Pour la Licence MI-AW IUT2 Grenoble - 2017</p>
    </div>
</footer>