<header>
    <div id="room">
        <p>Room Name</p>
    </div>
    <div>
        <a href="/admin">Admin Questions</a>
    </div>
    <div>
        <a href="/admin/rooms">Admin Rooms</a>
    </div>

    <div id="user">
        <p>user name</p>
    </div>
</header>