<header>
    <section class="header-top">
        <div id="room">
            <p class="fa-comment">Room Name</p>
        </div>
        <div id="user">
            <p class="fa-user">user name</p>
        </div>
    </section>
    <section class="header-bottom">
        <div>
            <a href="/admin">Admin Questions</a>
        </div>
        <div>
            <a href="/admin/rooms">Admin Rooms</a>
        </div>
        <div>
            <a href="/admin/niveau/">Niveaux</a>
        </div>
        <div>
            <a href="/admin/matiere/">Matières</a>
        </div>
    </section>

</header>