<header>
    <section class="header-bottom">
        <div>
            <a href="/admin/rooms">Gestion Rooms</a>
        </div>
        <div>
            <a href="/admin/question/">Gestion Questions</a>
        </div>
        <div>
            <a href="/admin/niveau/">Gestion Niveaux</a>
        </div>
        <div>
            <a href="/admin/matiere/">Gestion Matières</a>
        </div>
    </section>

</header>