<header>
    <section class="header-top">
        <div id="room">
            <p class="fa-comment">Room Name</p>
        </div>
        <div id="user">
            <p class="fa-user">user name</p>
        </div>
    </section>
    <section class="header-bottom">
        <div>
            <a href="/admin/rooms">Gestion Rooms</a>
        </div>
        <div>
            <a href="/admin">Gestion Questions</a>
        </div>
        <div>
            <a href="/admin/niveau/">Gestion Niveaux</a>
        </div>
        <div>
            <a href="/admin/matiere/">Gestion Matières</a>
        </div>
    </section>

</header>