.sortBlock {
    display: inline-block;
    margin: 0 20px;
    background-color: white;
    padding: 0 10px;
}

#questionSelection {
    display: flex;
    align-items:flex-start;
    justify-content: center;
}
#roomQuestions, #allQuestions {
    width:300px;
    height:150px;
}

#questionSelection .ui-sortable-handle {
    padding: 5px;
    background-color: rgb(170, 170, 170);
}

#questionSelection .ui-sortable-handle:hover {
    background-color: #999;
    cursor: pointer;
}