/**************************************************/

/******************  MOBIL FIRST  *****************/

/**************************************************/

/**********************************************/
/******************  GENERAL  *****************/
/**********************************************/

body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    color: #00B7FF;
}

/**********************************************/
/******************  HEADER  ******************/
/**********************************************/

header {
    background-color: #212121;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: 'Abril Fatface', cursive;
    width: 100%;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}

header div {
    margin: 20px;
}

header a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

header a:hover {
    transition: all 0.3s ease-in-out;
    color: #FF7373;
}

.header-bottom {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #212121;
    flex-direction: column;
    line-height: 20px;
}

.header-top {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    background-color: #4899CC;
}

.fa-user {
    position: relative;
}

.fa-user::before {
    left: -20px;
    position: absolute;
    font-size: 1.2rem;
    content: "\f007";
    font-family: FontAwesome;;
}

.fa-comment {
    position: relative;
}

.fa-comment::before {
    left: -28px;
    position: absolute;
    font-size: 1.2rem;
    content: "\f075";
    font-family: FontAwesome;;
}

/**********************************************/
/***************  MAIN CONTENT  ***************/
/**********************************************/

.main-section {
}

.container {
    width: 100%;
    height: 100%;
}

.main-section h1 {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    padding: 25px 0;
    text-align: center;
    color: white;
    background-color: #FF7373;
}

.main-section h2 {
    padding: 20px;
    background-color: #4899CC;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: white;
}

.main-section .room {
    padding: 50px;
    background-color: #f5f5f5;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.main-section form {
    background-color: white;
    padding: 30px 0;
    justify-content: center;
    display: flex;
}

.main-section form label {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    margin-right: 10px;
}

.main-section form input {
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #212121;
}

.main-section form input:hover,
.main-section form input:focus {
    border: 1px solid #FF7373;
    color: #212121;
    transition: all 0.3s ease-in-out;
}

/***************  ROOMS QUESTIONS ***************/

.question {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    margin:0 auto 20px auto;
}

.reponses {
    width: 70%;
    text-align: center;
}

.intitule {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    color: white;
    background-color: #4899CC;
}

.reponse form div {
    padding: 10px 0;
}

.room-question p {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
}

.room-question h1 {
    text-align: center;
    padding: 30px;
    color: white;
}

.roomQuestions {
    margin: 20px 0;
    padding: 0 !important;
}

#questionSelection .ui-sortable-handle {
    margin: 3px;
    border-radius: 15px;
}

#questionSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9E9E9E;
}

#questionSelection button {
    margin: 20px;
    background-color: transparent;
    color: #4899CC;
    border-radius: 15px;
    padding: 5px 25px;
    border: 2px solid #4899CC;
    transition: all 0.3s ease-in-out;
}

#questionSelection button:hover {
    color: white;
    background-color: #4899CC;
}

#questionSelection h2 {
    padding: 20px 20px;
    background-color: #4899CC;
    color: white;
}

.sortBlock {
    padding: 0 !important;
}

.allQuestions h2 {
    padding: 20px 20px;
    background-color: #4899CC;
    color: white;
}

#questionSelection {
    padding: 50px 0;

}

/***************  ROOMS LISTE ***************/

.rooms-list {
    background-color: #F5F5F5;
}

.rooms-list h1 {
    background-color: #FF7373;
    text-align: center;
    color: white;
    padding: 30px 0;
}

.rooms-list p {
    text-align: center;
    padding: 10px 0;
}

.rooms-list ul {
    display: inline;
    height: 50%;
    text-align: center;
    background-color: transparent;
}

.rooms-list ul li {
    padding: 20px;
}

.rooms-list ul li a {
    font-size: 30px;
    text-decoration: none;
    color: #212121;
    transition: all 0.3s ease-in-out;
}

.rooms-list ul li a:hover {
    color: #FF7373;
}

.rooms-list input[type="text"]{

}

/***************  dataROOM  ***************/

#dataRoom {
    text-align: center;
    background-color: #f5f5f5;
}

#dataRoom h1 {
    background-color: #FF7373;
    text-align: center;
    color: white;
    padding: 30px 0;
}

#dataRoom p {
    margin-bottom:20px;
    padding: 20px;
    color: #212121;
}

/***************  ROOM  ***************/

.room label {
    font-size: 30px;
    padding: 20px 0;
    color: #212121;
    font-weight: bolder;
}

.room input {
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.room input:focus {
    outline-style: none;
}

.room input:focus::after {
    content: " ";
    outline-style: none;
    border-bottom: 10px solid #FF7373;
}

.room button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #FF7373;
    margin-top: 40px;
    color: #212121;
}

.room button:hover {
    outline-style: none;
    background-color: #4899CC;
}

/**********************************************/
/*******************  ADMIN  ******************/
/**********************************************/

.form-question h1 {
    color: white;
    padding: 20px 0;
    text-align: center;
    background-color: #FF7373;
}


.form-question h2 {
    padding: 20px 0;
    text-align: center;
    background-color: #F5F5F5;
}

.form-question form {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    flex-direction: column;
}

.form-question label {
    display: block;
}

.form-question form input {
    margin-left: 0px;
    transition: all 0.3s ease-in-out;
}

.form-question h1 {
    padding: 30px;
    text-align: center;
    color: white;
}

.form-question button {
    background-color: transparent;
    margin: 20px 0;
    color: #212121;
    border-radius: 15px;
    padding: 5px 25px;
    border: 2px solid #212121;
    transition: all 0.3s ease-in-out;
}

.form-question button:hover {
    color: white;
    background-color: #212121;
}

.questions form {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #212121;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    flex-direction: column;
}

.questions form input[value="Delete"] {
    background-color: transparent;
    margin: 20px 0;
    color: #FF7373;
    border-radius: 15px;
    padding: 5px 25px;
    border: 2px solid #FF7373;
    transition: all 0.3s ease-in-out;
}

.questions form input[value="Delete"]:hover {
    color: white;
    background-color: #FF7373;
}

.questions h2 {
    color: white;
    background-color: #4899CC;
}

.questions p {
    padding-top: 20px;
}

.question label {
    font-weight: bolder;
    padding: 20px 0;
}

.reponse label {
    padding: 10px 0;
}

.qValues {
    background-color: white;
    padding: 5px;
    border: 1px solid #9E9E9E;
}

/**********************************************/
/******************  FOOTER  ******************/
/**********************************************/

footer {
    width: 100%;
    background-color: #212121;
    color: white;
}

footer p {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    padding: 20px 50px;
}

/**********************************************/
/***************  UTILITAIRES  ****************/
/**********************************************/

.red-button {
    cursor: pointer;
    background-color: transparent;
    margin: 20px 5px;
    color: #FF7373;
    border-radius: 15px;
    padding: 5px 25px;
    border: 2px solid #FF7373;
    transition: all 0.3s ease-in-out;
}

.red-button:hover {
    color: white;
    background-color: #FF7373;
}

.blue-button {
    cursor: pointer;
    background-color: transparent;
    margin: 20px 5px;
    color: #4899CC;
    border-radius: 15px;
    padding: 5px 25px;
    border: 2px solid #4899CC;
    transition: all 0.3s ease-in-out;
}

.blue-button:hover {
    color: white;
    background-color: #4899CC;
}

.orangered-button {
    cursor: pointer;
    background-color: transparent;
    margin: 20px 5px;
    color: orangered;
    border-radius: 15px;
    padding: 5px 25px;
    border: 2px solid orangered;
    transition: all 0.3s ease-in-out;
}

.orangered-button:hover {
    color: white;
    background-color: orangered;
}

.round-input-text input[type="text"]{
    width: 70%;
}

.red-h1 {
    color: white;
    padding: 20px 0;
    text-align: center;
    background-color: #FF7373;
}

/***********************************************************************************************************************/

/*****************************************************/

/******************  Small-Medium Devices  *****************/

/*****************************************************/

@media (min-width: 576px) {

    /**********************************************/
    /******************  HEADER  ******************/
    /**********************************************/
    header {
        align-items: baseline;
    }

    .header-bottom {
        flex-direction: row;
        margin: 0 auto;
    }

    /**********************************************/
    /***************  MAIN CONTENT  ***************/
    /**********************************************/
    .main-section h1 {
        font-size: 70px;
    }

    .sortBlock {
        margin: 20px 0;
    }

    #questionSelection {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #9E9E9E;
    }

}

/***********************************************************************************************************************/

/*****************************************************/

/******************  Medium Devices  *****************/

/*****************************************************/

@media (min-width: 768px) {

    /**********************************************/
    /***************  FORM-QUESTION  ***************/
    /**********************************************/
    .questions form {
        flex-direction: row;
    }

    .questions p {
        padding-top: 0;
        margin-right: 10px;
    }
}
